.header {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header > h3, h5 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

/* Include any custom CSS styling here! */
.body {
  display: flex;
  flex-direction: column;
}
.interaction{
  position: absolute;
}

#range-slider{
  padding-left: 50px;
  margin-left: 100px;
}
